PORT=4003
DATABASE_URL=mysql://root:password@mysql-payments:3306/payment_db
JWT_SECRET=dummy-fintech-jwt-secret
PAYMENT_GATEWAY_URL=https://api.nexpay.example.com
LEDGER_URL=http://ledger:4002
NOTIFICATIONS_URL=http://notifications:4004
